body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: white;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

p {
    font-size: 16px;
    font-weight: normal;
}

button{
    background-color: #3882f6;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 20px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.hero-subtitle,
.join-subtitle {
    font-size: 16px;    
    font-weight: normal;
    color: white;
}

.hero-logo {
    padding-right: 300px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

.main-content {
    margin: 50px;
}

.content {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    gap: 20px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    background-color: #e5e7eb;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;    
}

span {
    float: right;
    font-weight: bolder;
    font-size: 24px;
    padding-right: 150px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 40%;
}

.bottom-btn {
    margin-left: 150px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #1F2937;
    color: white;
}
